.star {
    width: 21px;
    height: 20px;
    display: block;
}

.star {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0048 0.819599C10.1954 0.393467 10.8046 0.393467 10.9952 0.819599L13.2529 5.86566C13.4774 6.36745 13.9528 6.71092 14.4992 6.76838L20.0139 7.34826C20.4827 7.39756 20.6655 7.97236 20.3202 8.28232L16.2009 11.9808C15.7918 12.3481 15.6097 12.9056 15.7242 13.4434L16.8748 18.8479C16.9708 19.2989 16.4834 19.6605 16.0732 19.4248L11.2697 16.6645C10.7933 16.3908 10.2067 16.3908 9.73034 16.6645L4.92681 19.4248C4.51655 19.6605 4.0292 19.2989 4.12522 18.8479L5.27578 13.4435C5.39029 12.9056 5.20817 12.3481 4.79907 11.9808L0.679763 8.28232C0.334541 7.97236 0.517323 7.39756 0.986142 7.34826L6.50075 6.76838C7.04725 6.71092 7.52262 6.36745 7.74713 5.86566L10.0048 0.819599Z' stroke='%23F9E09E'/%3E%3C/svg%3E%0A");
}

.btn:hover .star,
.star.active {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.54838 0.6154C9.9155 -0.205133 11.0845 -0.205133 11.4516 0.6154L13.7093 5.66146C13.8607 5.99988 14.1817 6.23223 14.5515 6.27112L20.0661 6.851C20.9629 6.94529 21.3241 8.05295 20.6543 8.65437L16.535 12.3529C16.2587 12.6009 16.1361 12.9769 16.2133 13.3393L17.3638 18.7438C17.5509 19.6226 16.6052 20.3072 15.8241 19.8583L11.0205 17.0981C10.6984 16.9129 10.3016 16.9129 9.97945 17.0981L5.17593 19.8583C4.39483 20.3072 3.44909 19.6226 3.63618 18.7438L4.78674 13.3393C4.8639 12.9769 4.7413 12.6009 4.46503 12.3529L0.345723 8.65437C-0.324113 8.05295 0.0371286 6.94529 0.933854 6.851L6.44847 6.27112C6.81831 6.23223 7.13931 5.99988 7.29073 5.66146L9.54838 0.6154Z' fill='%23F9E09E'/%3E%3C/svg%3E%0A");
}

.search {
    width: 13px;
    height: 13px;
    display: block;
    margin: 0 5px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.1348 8.64341H9.53874L9.33155 8.44368C10.0635 7.61487 10.5087 6.5404 10.5087 5.36315C10.5087 2.74623 8.32409 0.625 5.62903 0.625C2.93397 0.625 0.74939 2.74623 0.74939 5.36315C0.74939 7.98007 2.93397 10.1013 5.62903 10.1013C6.84143 10.1013 7.94723 9.66977 8.80079 8.95977L9.00799 9.1595V9.73683L12.7601 13.375L13.8794 12.2881L10.1348 8.64341ZM5.62904 8.64349C3.76277 8.64349 2.25083 7.17539 2.25083 5.36323C2.25083 3.5518 3.76277 2.08297 5.62904 2.08297C7.49456 2.08297 9.00725 3.5518 9.00725 5.36323C9.00725 7.17539 7.49456 8.64349 5.62904 8.64349Z' fill='white'/%3E%3C/svg%3E%0A");
}

.i-colapse {
    width: 19px;
    height: 10px;
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='11' viewBox='0 0 20 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.09704 8.39344L9.11508 0.36926C9.60711 -0.123144 10.4048 -0.123144 10.8969 0.36926L18.9149 8.39344C19.4069 8.88585 19.4069 9.68419 18.9149 10.1766C18.4229 10.669 17.6252 10.669 17.1331 10.1766L10.006 3.04399L2.87882 10.1766C2.3868 10.669 1.58906 10.669 1.09704 10.1766C0.605009 9.68419 0.605009 8.88585 1.09704 8.39344Z' fill='%238E8E8E'/%3E%3C/svg%3E%0A");
}
.collapsed .i-colapse{
    transform: rotate(180deg);
}

.more {
    width: 22px;
    height: 6px;
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='6' viewBox='0 0 22 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='2.9977' cy='3' rx='2.9977' ry='3' fill='%238E8E8E'/%3E%3Cellipse cx='10.9918' cy='3' rx='2.9977' ry='3' fill='%238E8E8E'/%3E%3Cellipse cx='18.9857' cy='3' rx='2.9977' ry='3' fill='%238E8E8E'/%3E%3C/svg%3E%0A");
}

.grid{
	width: 20px;
    height: 20px;
	margin-right: 10px;
	cursor: pointer;
}
.grid:hover{
	fill: #5D8490;
}
.list{
	width: 20px;
    height: 20px;
	cursor: pointer;
}